* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}
main {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
#enemy-field,
#your-field {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 1rem 0 1rem 0;
}
.your-hand {
    display: flex;
    align-items: center;
    height: 100%;
}
.enemy-cards,
.your-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    flex-grow: 1;
}
.num-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    width: 8rem;
    font-size: 3rem;
    padding: 0.5rem 4rem;
    background-color: green;
    color: white;
    margin-left: 3rem;
}
#your-options {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#game-start-reset {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}
.card img {
    max-height: 16rem;
    min-width: 8rem;
    margin: 0 1rem;
}
.btn {
    padding: 1rem 3rem;
    margin: 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
.btn:hover {
    transform: scale(1.05);
    background-color: red;
}
.reset {
    display: none;
}
.reset:hover {
    transform: scale(1.05);
    background-color: green;
}
.name {
    color: white;
    font-size: 2rem;
}
#winner {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
    font-weight: bold;
}
